.imgholder{
    height: auto;
    overflow: hidden;
    background-color: #030326;
}

.imgholder img{
    top: 0; 
    left: 0;
}

.card{
    box-shadow: 0 5px 10px 0 #45a29dab;
    text-align: center;
}

#configure-msg{
    margin-bottom: 5%;
    text-align: center;
    
    color:  #66fcf1;
}

#configure-msg h2{
    font-size: 8vh;
}