.imgholder{
    height: auto;
    overflow: hidden;
    background-color: #030326;
}

.imgholder img{
    top: 0; 
    left: 0;
}

.card{
    box-shadow: 0 5px 10px 0 #45a29dab;
    text-align: center;
    cursor: pointer;
}
