body {
    overflow: hidden;
    font-family: 'Righteous';
}

#heading {
    padding-bottom: 3%;
}


input{
    font-size: 3vh;
    font-family: 'Righteous';
}

input[type=text], input[type=password]{
    height: 5vh;
    width: 30vh;
    /* css 3 */
    border-radius: 5px;
    /* mozilla */
    -moz-border-radius: 5px;
    /* webkit */
    -webkit-border-radius: 5px;
    border: none;
    border-color: transparent;
    background-color: #c5c6c7;
    text-align: center;
}

h1 {
    font-size: 12vh;
    color: #66fcf1;
}

#center-form{
    box-shadow: 0 32px 64px 0 #45a29dab;
    background-color: #1f2833;
    animation-name: background;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#login_btn, #register_btn{
    height: 5vh;
    width: 20vh;
    border-radius: 5px;
    background-color: #66fcf1;
    border: none;
    border-style: none;
}

/* The animation code */
@keyframes background {
    0%   {box-shadow: 0 10px 20px 0 #45a29dab;}
    50%  {box-shadow: 0 32px 64px 0 #45a29dab;}
    100% {box-shadow: 0 10px 20px 0 #45a29dab;}
}
/* @media only screen and (max-width: 480px){
    h1{
        font-size: 8vh;
    }
} */